<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Capacitación y desarrollo para el cambio organizacional y gestión del capital humano">
    <meta name="keywords"
        content="trabajo en equipo, formas de resolver un conflicto, solución del conflicto, resolver conflictos, formas de solucionar un conflicto, en equipo, trabajo en equipo, trabajo en equipo que es, capital humana, el liderazgo es, el trabajo en equipo es, metodos de resolución de conflictos, la capacitación, soluciones para un conflicto, liderazgo es, solucionar conflictos, humana capital, alternativas para solucionar un conflicto, es una posibilidad de dar una solución a un conflicto, capital humano, los equipos de trabajo, alternativas para resolver conflictos, la gestión empresarial, define trabajo en equipo, coach coaching, el equipo de trabajo, equipo de trabajo que es, técnicas para resolver conflictos, gestion empresas, el capital humano es, capacitación">
    <title>Akka Consulting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pontano+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a077a0470e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="shortcut icon" href="assets/images/favicon.png">
    <script>
        function submitEmailForm(form) {
            var obj = new XMLHttpRequest();
            obj.onreadystatechange = function () {
                if (obj.readyState == 4) {
                    if (obj.status == 200) {
                        var res = JSON.parse(obj.responseText);
                        alert(res.message);
                    }
                    else {
                        console.log("XMLHttp status " + obj.status + ": " + obj.statusText);
                    }
                }
            };
            obj.open("post", form.action, true);
            obj.setRequestHeader("Content-Type", "application/json"); // NOTICE: "application/json"
            obj.send(JSON.stringify({ name: form.name.value, number: form.tel.value, email: form.email.value, message: form.message.value }));
            alert("¡En breve te contactaremos!");
            $(".formInput1").val("Nombre completo");
            $(".formInput2").val("Teléfono");
            $(".formInput3").val("Correo");
            $(".formInput4").val("Cuéntanos tu necesidad");
            return false;
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10780295638"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-10780295638');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 10780295638 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10780295638"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-10780295638');
    </script>
    <!-- Event snippet for Contacto WhatsApp AKKA conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>
        function gtag_report_conversion(url) {
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-10780295638/XZlwCK3xwfcCENaDuZQo',
                'event_callback': callback
            });
            return false;
        }
    </script>

</head>

<body class="font1">
    {{!-- Header starts --}}
    <div id="site-wrap" class="site">
        <div id="header-wrap" style="width: 100%; z-index: 2" class="fixed-top">
            <header id="header">
                <div class="container">
                    <nav id="navElement" class="navbar navbar-expand-lg navbar-dark">
                        <a class="navbar-brand" href="/">
                            <div id="logo" class="logo-top-white"></div>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Inicio<span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="solucion-problemas-organizacionales"
                                        style="display: inline-block">
                                        Soluciones
                                    </a>
                                    <a class="nav-link dropdown-toggle" href="index" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="display: inline-block">

                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a href="capacitacion-directores-colaboradores-clave"
                                            class="dropdown-item">Liderazgo directivo</a>
                                        <br>
                                        <a href="reestructuracion-areas-kpis" class="dropdown-item">Adaptación y
                                            renovación ante el cambio</a>
                                        <br>
                                        <a href="comunicacion-efectiva" class="dropdown-item">Construyendo juntos</a>
                                        <br>
                                        <a href="team-development" class="dropdown-item">Un mismo objetivo, una misma
                                            dirección</a> <br>
                                        <a href="desarrollo-facilitadores" class="dropdown-item">Formación de
                                            Instructores y Facilitadores</a> <br>
                                        <a href="solucion-de-conflictos" class="dropdown-item">Solución de conflictos en
                                            equipos de trabajo</a> <br>
                                        <a href="ventas-exitosas" class="dropdown-item">Ventas Rentables para Generar
                                            Riqueza</a> <br>
                                        <a href="efectividad-en-almacenes" class="dropdown-item">Prácticas de Ahorro y
                                            eficiencia en el manejo de inventarios en almacenes</a> <br>
                                        <a href="outplacement" class="dropdown-item">Outplacement</a> <br>
                                        <a href="formacion-de-coaching" class="dropdown-item">Formación de coaching</a>
                                        <br>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="gestion-del-capital-humano"
                                        style="display: inline-block">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="proceso-akka-consulting" style="display: inline-block">
                                        Cómo lo hacemos
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contacto">Contacto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="blog">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </nav>

                </div>
                <!-- #header-inner -->
            </header>

        </div>
    </div>
    {{!-- Header ends --}}
    <div class="bodyPrincipal">
        {{{body}}}
    </div>
    {{!-- FOOTER STARTS --}}
    <div id="footer-wrap" class="is-clearfix"
        style="border-top: 1px solid #f3f3f3; background-color: #00356C; padding: 60px 0 60px">
        <footer id="footer" class="site-footer">
            <div id="footer-inner" class="site-footer-inner container">
                <div class="row">
                    <div class="col-md-8" style="display: flex; flex-wrap: wrap">
                        <div class="align-logo-footer" style="display: inline-block">
                            <a href="index">
                                <img src="assets/images/logo-blanco-home.png" style="width: 207px; height: auto" alt="">
                            </a>
                        </div>
                        <div class="menu-footer" style="display: inline-block">
                            <ul>
                                <li><a href="index">Inicio</a></li>
                                <li><a href="#">Soluciones</a></li>
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 right-footer" style="display: flex; flex-direction: column">
                        <ul class="social">
                            <li>
                                <a href="https://web.facebook.com/Akka-Consulting-107061074422011" target="_blank">
                                    <span class="icon">
                                        <i class="fa fa-facebook"></i>
                                    </span>
                                </a>
                            </li>
                            <!--
                      <li>
                        <a href="#" target="_blank">
                          <span class="icon">
                            <i class="fab fa-twitter"></i>
                          </span>
                        </a>
                      </li>
-->
                            <li>
                                <a href="#" target="_blank">
                                    <span class="icon">
                                        <i class="fa fa-instagram"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/akka-consulting/" target="_blank">
                                    <span class="icon">
                                        <i class="fa fa-linkedin"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p><b>Akka Consulting SA. CV.</b> Todos los derechos reservados. Sus datos están protegidos por
                            la ley de privacidad.</p>


                    </div>
                    <!-- .tagcloud -->


                    <!-- .column -->
                </div>
                <!-- .columns -->
            </div>
            <!-- #footer-inner -->
        </footer>
        <!-- #footer -->
    </div>
    <!-- #footer-wrap -->

    <!-- #footer-bottom-wrap -->
    <!-- show floating buttons -->


    </div>
    <!-- #site-wrap -->


    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/slick.js"></script>
    <!--TODO: Put this code in script file-->

    <script>
        $('div.dropdown').hover(function () {
            $('a.dropdown-toggle').dropdown("toggle");
        }, function () {
            $('a.dropdown-toggle').dropdown('toggle');
        });

        $('li.index-tab').click(function () {
            $('li.index-tab').removeClass('is-active');
            $(this).addClass('is-active');
        });

        $(window).scroll(function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 500) {
                $(".clearHeader").addClass("darkHeader");
            } else {
                $(".clearHeader").removeClass("darkHeader");
            }
        });




        $(function () {
            //caches a jQuery object containing the header element


            var logo = $(".logo-top-white");
            var width = $(window).width();
            if (width < 993) {
                logo.addClass("logo-top-scrolled");
            } else {

                $(window).scroll(function () {
                    var scroll = $(window).scrollTop();
                    var width = $(window).width();
                    if (scroll <= 80 && width < 993) {
                        logo.addClass("logo-top-scrolled");
                    } else if (scroll <= 80 && width >= 993) {
                        logo.removeClass("logo-top-scrolled");
                    } else {
                        logo.addClass("logo-top-scrolled");
                    }
                });
            }
        });

        $(function () {
            //caches a jQuery object containing the header element
            var header = $(".navbar-dark");
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                var width = $(window).width();
                if (width < 993) {
                    header.addClass("scrolled-nav");
                } else if (scroll >= 80 && width >= 993) {
                    header.addClass("scrolled-nav");
                    header.removeClass("navbar-dark");

                } else {
                    header.removeClass("scrolled-nav");
                    header.addClass("navbar-dark");
                }
            });
        });


    </script>

    <script>
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80 && window.innerWidth > 900) {
                document.getElementById("header-wrap").style.background = "#fff";
                document.getElementById("logo").style.margin = "15px 0";
                //		document.getElementsByClassName("logo").style.margin = "10px 0";
            } else {
                document.getElementById("header-wrap").style.background = "transparent";
                document.getElementById("logo").style.margin = "15px 0";
                //		document.getElementsByClassName("logo").style.margin = "10px 0";
            }
        }

    </script>
    <script>
        $(document).ready(function () {
            // executes when HTML-Document is loaded and DOM is ready

            // breakpoint and up  
            $(window).resize(function () {
                if ($(window).width() >= 980) {

                    // when you hover a toggle show its dropdown menu
                    $(".navbar .dropdown-toggle").hover(function () {
                        $(this).parent().toggleClass("show");
                        $(this).parent().find(".dropdown-menu").toggleClass("show");
                    });

                    // hide the menu when the mouse leaves the dropdown
                    $(".navbar .dropdown-menu").mouseleave(function () {
                        $(this).removeClass("show");
                    });

                    // do something here
                }
            });



            // document ready  
        });
    </script>
    <!--  Counter	-->
    <script>
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from: $(this).data('from'),
                        to: $(this).data('to'),
                        speed: $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals: $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof (settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof (settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });
    </script>

    <!--CAROUSEL-->

    <script>

        $('.center').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 4,
            arrows: false,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });

        function prevSlide() {
            $('.center').slick('slickPrev');
        }
        function nextSlide() {
            $('.center').slick('slickNext');
        }

    </script>
    <script>

        $('.single').slick({
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 4,
            dots: false,
            arrows: false,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        dots: false,
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 3
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        dots: false,
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        arrows: false,
                        centerMode: true,
                        centerPadding: '40px',
                        slidesToShow: 1
                    }
                }
            ]
        });


    </script>
    {{!-- FOOTER ENDS --}}
    {{!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script> --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/init.js"></script>
</body>

</html>