<div class="blogDiv">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img focoBlog">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-blog blogTitle">Blog <br>Akka Consulting</h2>
                                {{!-- <p>Este blog tiene la misión de brindar información útil para que los líderes, y
                                    personal clave en el desarrollo de los Recursos Humanos de las organizaciones puedan
                                    resolver sus dudas sobre capacitación del personal, al igual que encontrar artículos
                                    de valor para el desarrollo de sus equipos de trabajo y de el talento.</p> --}}
                                <p>
                                    En Akka Consulting nos ocupamos de identificar los puntos de malestar de tu empresa
                                    y darte la mejor alternativa para atenderlos. <br>
                                     <div class="whatsContact">
                                    <div class="img-icon">
                                        <a onclick="return gtag_report_conversion('https://api.whatsapp.com/send?phone=+525578464662');" href="https://api.whatsapp.com/send?phone=+525578464662"
                                            target="_blank" style="color: #31f378 !important;" id="whatsContact"><i class="fab fa-whatsapp-square"></i></a>
                                    </div>
                                    <p><b>WhatsApp</b><br> </p>
                                </div>
                                </p>
                            </div>
                        </div>
                        <!-- .hero-body -->
                </div>
                <!-- .container -->
                </section>
                <!-- .page-title -->
            </div>
            <!-- #header-bottom-inner -->
        </div>
    </div>
    <!-- #header-bottom -->
</div>
<!-- #header-bottom-wrap -->
<!-- import content layouts and modules -->

<section class="default-padding">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="title sub-title">
                    <h1>Síntomas de que necesito contratar una capacitación para mí o para mi equipo.</h1>
                    <p>Actualmente vemos en todas partes la palabra liderazgo directivo, la cual por su sola definición
                        se describe como la habilidad de empoderar y dar responsabilidad a todos los miembros de un
                        equipo, hacerles ver que son capaces y pueden tomar decisiones en beneficio del grupo y lograr
                        el éxito empresarial no importando las circunstancias, sin embargo esto no es tan sencillo, un
                        gran líder puede enfrentar situaciones difíciles al tratar con su equipo de trabajo que evitan
                        ejercer un liderazgo directivo. </p>
                </div>
                <div class="post-standard sub-title">
                    <a href="https://www.linkedin.com/pulse/empowerment-akka-consulting/?trackingId=gMKOUeZz0jqHMLR35I8Nog%3D%3D"
                        class="" target="_blank">
                        <h3>Empowerment</h3>
                    </a>
                    <div class="excerpt">
                        <p> El empoderamiento de las personas y el proceso que representa el reconocimiento como parte
                            de las prácticas de la dirección organizacional. ¿Qué opinan? </p>
                    </div>
                    <div class="meta-out">
                        <ul class="meta">
                            <li> <span class="fa fa-clock-o"></span> 19 de octubre, 2021 </li>
                            <li> <span class="fa fa-user"></span><a href="https://www.linkedin.com/in/jhosue-camacho-44b1b5b1/" target="_blank"> Jhosue Camacho Malagón</a> </li>
                        </ul>
                    </div>
                    <div class="thum-img">
                        <a href="https://www.linkedin.com/pulse/empowerment-akka-consulting/?trackingId=gMKOUeZz0jqHMLR35I8Nog%3D%3D"
                            class="" target="_blank"><img src="/assets/images/empower.jpg" alt=""></a>
                    </div>

                    <a href="#" class="button is-yellow-wide">Abrir artículo <i class="fa fa-arrow-right"></i> </a>
                </div>
                <div class="post-standard sub-title">
                    <a href="https://www.linkedin.com/pulse/pr%25C3%25A1cticas-de-ahorro-y-eficiencia-en-el-manejo-inventarios-/?trackingId=piYawnc4GTmJIYeAyv2Pcw%3D%3D"
                        class="" target="_blank">
                        <h3>Prácticas de Ahorro y Eficiencia en el manejo de Inventarios en Almacenes</h3>
                    </a>
                    <div class="excerpt">
                        <p>Les compartimos este artículo sobre cómo mejorar efectividad en procesos de calidad y cuidar
                            los recursos.<br>¿Quién de ustedes ya implementa procesos similares en su manejo de
                            almacenes? </p>
                    </div>
                    <div class="meta-out">
                        <ul class="meta">
                            <li> <span class="fa fa-clock-o"></span> 12 de octubre, 2021 </li>
                            <li> <span class="fa fa-user"></span><a href="https://www.linkedin.com/in/jhosue-camacho-44b1b5b1/" target="_blank"> Jhosue Camacho Malagón</a> </li>
                        </ul>
                    </div>
                    <div class="thum-img">
                        <a href="https://www.linkedin.com/pulse/pr%25C3%25A1cticas-de-ahorro-y-eficiencia-en-el-manejo-inventarios-/?trackingId=piYawnc4GTmJIYeAyv2Pcw%3D%3D"
                            class="" target="_blank"><img src="/assets/images/eficienciaArt.jpg" alt=""></a>
                    </div>

                    <a href="#" class="button is-yellow-wide">Abrir artículo <i class="fa fa-arrow-right"></i> </a>
                </div>
                <div class="post-standard sub-title">
                    <a href="https://www.linkedin.com/pulse/las-4-claves-para-el-buen-manejo-de-conflicto-en-los-equipos-/?trackingId=p4ZEmo3MfRca7K6VPKWUvQ%3D%3D"
                        class="" target="_blank">
                        <h3>Las 4 claves para el buen manejo de conflicto en los equipos multigeneracionales y de alto
                            desempeño</h3>
                    </a>
                    <div class="excerpt">
                        <p>Este artículo es sobre el buen manejo de conflictos y cómo la iniciativa propia puede
                            trascender fronteras.</p>
                    </div>
                    <div class="meta-out">
                        <ul class="meta">
                            <li> <span class="fa fa-clock-o"></span> 05 de octubre, 2021 </li>
                            <li> <span class="fa fa-user"></span><a href="https://www.linkedin.com/in/jhosue-camacho-44b1b5b1/" target="_blank"> Jhosue Camacho Malagón</a> </li>
                        </ul>
                    </div>
                    <div class="thum-img">
                        <a href="https://www.linkedin.com/pulse/las-4-claves-para-el-buen-manejo-de-conflicto-en-los-equipos-/?trackingId=p4ZEmo3MfRca7K6VPKWUvQ%3D%3D"
                            class="" target="_blank"><img src="/assets/images/las4claves.jpg" alt=""></a>
                    </div>

                    <a href="#" class="button is-yellow-wide">Abrir artículo <i class="fa fa-arrow-right"></i> </a>
                </div>



                <!-- pagination -->
                <ul class="pagination pagination-md ">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Atrás</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                </ul>
                <!-- // pagination -->


            </div>
            <div class="col-md-3">
                {{!-- <div class="widget sidebar-wideget widget_categories">
                    <div class="sidebar-title">
                        <h2>Categorías</h2>
                    </div>
                    <ul>
                        <li><a href="#!">Los sintomas de un lider que necesita capacitación</a></li>
                        <li><a href="#!">Los sintomas de un lider que necesita capacitación</a></li>
                        <li><a href="#!">Los sintomas de un lider que necesita capacitación</a></li>
                        <li><a href="#!">Los sintomas de un lider que necesita capacitación</a></li>
                    </ul>
                </div> --}}

                <div class="widget sidebar-wideget">
                    <div class="sidebar-title">
                        <h2>Artículos Recientes</h2>
                    </div>
                    <div class="last-post">
                        <div class="item">
                            <a class="title"
                                href="https://www.linkedin.com/pulse/hacia-una-definici%25C3%25B3n-de-liderazgo-akka-consulting/?trackingId=Kq5Xywz3mcsBoK1pti2ZCQ%3D%3D">Hacia
                                una definición de liderazgo</a>

                        </div>
                        <div class="item">
                            <a class="title"
                                href="https://www.linkedin.com/pulse/un-nuevo-paradigma-los-gerentes-de-rienda-suelta-akka-consulting/?trackingId=caPKQTIDTNZaLwQknyae9w%3D%3D">Un
                                Nuevo Paradigma: “Los Gerentes de Rienda Suelta”</a>

                        </div>
                        <div class="item">
                            <a class="title"
                                href="https://www.linkedin.com/pulse/impulsores-o-drivers-al-fracaso-akka-consulting/?trackingId=ljaRpS7jjvtT4YZ4PkKlug%3D%3D">Impulsores
                                o Drivers al Fracaso</a>

                        </div>
                        <div class="item">
                            <a class="title"
                                href="https://www.linkedin.com/pulse/las-4-claves-para-el-buen-manejo-de-conflicto-en-los-equipos-/?trackingId=l2EofdwMpYqWtPCYzquxFQ%3D%3D">Las
                                4 claves para el buen manejo de conflicto en los equipos multigeneracionales y de alto
                                desempeño</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="default-padding" style="background-color: #00356C">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="/assets/images/cta-info.png" class="cta-img" alt="">
            </div>
            <div class="col-sm-12 col-md-8 text-cta">
                <h2>¿Listo(a) para tu primer paso? <br>Solicita una consultoría y pensemos juntos una solución.</h2>
                <div class="btn-ebook" style="padding-top: 30px">
                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita una
                        Consultoría</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="default-padding" style="background-color: #00879B">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 text-cta">
                <h2>¿Tienes algo que resolver en tu área de Recursos Humanos?</h2>
                <h3>Visita nuestra biblioteca de descargables, ahí encontrarás herramientas gratuitas para potenciar a
                    tu capital humano.</h3>
                <div class="btn-ebook" style="padding-top: 30px">
                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Descargar Herramientas
                        Gratis</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="/assets/images/ebook_cta-tienes.png" class="cta-img-tienes" alt="">
            </div>
        </div>
    </div>
</section>
</div>