<div class="blogDiv">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img soluciones-conflictos">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-blog">Blog <br>Akka Consulting</h2>
                                <p>Este blog tiene la misión de brindar información útil para que los líderes, y
                                    personal clave en el desarrollo de los Recursos Humanos de las organizaciones puedan
                                    resolver sus dudas sobre capacitación del personal, al igual que encontrar artículos
                                    de valor para el desarrollo de sus equipos de trabajo y de el talento.</p>
                            </div>
                        </div>
                        <!-- .hero-body -->
                </div>
                <!-- .container -->
                </section>
                <!-- .page-title -->
            </div>
            <!-- #header-bottom-inner -->
        </div>
    </div>
    <!-- #header-bottom -->
</div>
<!-- #header-bottom-wrap -->
<!-- import content layouts and modules -->

<section class="default-padding">
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="title sub-title">
                    <h1>Síntomas de que necesito contratar una capacitación para mí o para mi equipo.</h1>
                    <p>Actualmente vemos en todas partes la palabra liderazgo directivo, la cual por su sola definición
                        se describe como la habilidad de empoderar y dar responsabilidad a todos los miembros de un
                        equipo, hacerles ver que son capaces y pueden tomar decisiones en beneficio del grupo y lograr
                        el éxito empresarial no importando las circunstancias, sin embargo esto no es tan sencillo, un
                        gran líder puede enfrentar situaciones difíciles al tratar con su equipo de trabajo que evitan
                        ejercer un liderazgo directivo. </p>
                </div>
                <div class="post-standard sub-title">
                    <a href="blog-post" class="">
                        <h3>Los sintomas de un lider que neccesita capacitación</h3>
                    </a>
                    <div class="excerpt">
                        <p> Actualmente vemos en todas partes la palabra liderazgo directivo, la cual por su sola
                            definición se describe como la habilidad de empoderar y dar responsabilidad a todos los
                            miembros de un equipo, hacerles ver que son capaces y pueden tomar decisiones en beneficio
                            del grupo y lograr el éxito empresarial no importando las </p>
                    </div>
                    <div class="meta-out">
                        <ul class="meta">
                            <li> <span class="fa fa-clock-o"></span> 30 de julio, 2020 </li>
                            <li> <span class="fa fa-user"></span><a href="#"> Miguel Gómez</a> </li>
                        </ul>
                    </div>
                    <div class="thum-img">
                        <a href="blog-post"><img src="img/blog-placeholder.jpg" alt=""></a>
                    </div>

                    <a href="#" class="button is-yellow-wide">Abrir artículo <i class="fa fa-arrow-right"></i> </a>
                </div>
                <div class="post-standard sub-title">
                    <a href="blog-post" class="">
                        <h3>Los sintomas de un lider que neccesita capacitación</h3>
                    </a>
                    <div class="excerpt">
                        <p> Actualmente vemos en todas partes la palabra liderazgo directivo, la cual por su sola
                            definición se describe como la habilidad de empoderar y dar responsabilidad a todos los
                            miembros de un equipo, hacerles ver que son capaces y pueden tomar decisiones en beneficio
                            del grupo y lograr el éxito empresarial no importando las </p>
                    </div>
                    <div class="meta-out">
                        <ul class="meta">
                            <li> <span class="fa fa-clock-o"></span> 30 de julio, 2020 </li>
                            <li> <span class="fa fa-user"></span><a href="#"> Miguel Gómez</a> </li>
                        </ul>
                    </div>
                    <div class="thum-img">
                        <a href="blog-post"><img src="img/blog-placeholder.jpg" alt=""></a>
                    </div>

                    <a href="blog-post" class="button is-yellow-wide">Abrir artículo <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="post-standard sub-title">
                    <a href="blog-post" class="">
                        <h3>Los sintomas de un lider que neccesita capacitación</h3>
                    </a>
                    <div class="excerpt">
                        <p> Actualmente vemos en todas partes la palabra liderazgo directivo, la cual por su sola
                            definición se describe como la habilidad de empoderar y dar responsabilidad a todos los
                            miembros de un equipo, hacerles ver que son capaces y pueden tomar decisiones en beneficio
                            del grupo y lograr el éxito empresarial no importando las </p>
                    </div>
                    <div class="meta-out">
                        <ul class="meta">
                            <li> <span class="fa fa-clock-o"></span> 30 de julio, 2020 </li>
                            <li> <span class="fa fa-user"></span><a href="#"> Miguel Gómez</a> </li>
                        </ul>
                    </div>
                    <div class="thum-img">
                        <a href="#"><img src="img/blog-placeholder.jpg" alt=""></a>
                    </div>

                    <a href="blog-post" class="button is-yellow-wide">Abrir artículo <i class="fa fa-arrow-right"></i>
                    </a>
                </div>



                <!-- pagination -->
                <ul class="pagination pagination-md ">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Atrás</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
                </ul>
                <!-- // pagination -->


            </div>
            <div class="col-md-3">
                <div class="widget sidebar-wideget widget_categories">
                    <div class="sidebar-title">
                        <h2>Categorías</h2>
                    </div>
                    <ul>
                        <li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
                        <li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
                        <li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
                        <li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
                    </ul>
                </div>

                <div class="widget sidebar-wideget">
                    <div class="sidebar-title">
                        <h2>Artículos Recientes</h2>
                    </div>
                    <div class="last-post">
                        <div class="item">
                            <a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

                        </div>
                        <div class="item">
                            <a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

                        </div>
                        <div class="item">
                            <a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

                        </div>
                        <div class="item">
                            <a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="default-padding" style="background-color: #00356C">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="img/cta-info.png" class="cta-img" alt="">
            </div>
            <div class="col-sm-12 col-md-8 text-cta">
                <h2>¿Listo(a) para tu primer paso? <br>Solicita una consultoría y pensemos juntos una solución.</h2>
                <div class="btn-ebook" style="padding-top: 30px">
                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita una
                        Consultoría</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="default-padding" style="background-color: #00879B">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 text-cta">
                <h2>¿Tienes algo que resolver en tu área de Recursos Humanos?</h2>
                <h3>Visita nuestra biblioteca de descargables, ahí encontrarás herramientas gratuitas para potenciar a
                    tu capital humano.</h3>
                <div class="btn-ebook" style="padding-top: 30px">
                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Descargar Herramientas
                        Gratis</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <img src="img/ebook_cta-tienes.png" class="cta-img-tienes" alt="">
            </div>
        </div>
    </div>
</section>
</div>