<div class="blogPostDiv">
    
      <!-- #header-wrap -->
      <div id="header-bottom-wrap" class="is-clearfix top-img soluciones-conflictos">
		<div class="cover"> 
<!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->
		  
        <div id="header-bottom" class="site-header-bottom">
          <div id="header-bottom-inner" class="site-header-bottom-inner ">
            <section class="hero is-medium has-text-centered about">
              <div class="page-top hero-body">
                <div class="container sol">
                  <h2 class="text-h2-blog">Blog <br>Akka Consulting</h2>
				   </div> </div>
                <!-- .hero-body -->
              </div>
              <!-- .container -->
            </section>
            <!-- .page-title -->
          </div>
          <!-- #header-bottom-inner -->
        </div>
		</div>
        <!-- #header-bottom -->
      </div>
      <!-- #header-bottom-wrap -->
      <!-- import content layouts and modules -->
	
	<section class="default-padding">
		<div class="container">
			
			<div class="row">
				<div class="col-md-9">
					<div class="post-standard title sub-title">
						<h1>Los sintomas de un lider que neccesita capacitación</h1>
						<h3>Por: Nayely Fernández, Consultora Jr. Akka</h3>
						<div class="meta-out">
							<ul class="meta">
								<li> <span class="fa fa-clock-o"></span> 30 de julio, 2020 </li>
							</ul>
						</div>
						<div class="thum-img post">
							<a href="blog-post"><img src="img/blog-placeholder.jpg" alt=""></a>
						</div>
						<div class="excerpt">
							<div class="sub-section">
								<p> Actualmente vemos en todas partes la palabra liderazgo directivo, la cual por su sola definición se describe como la habilidad de empoderar y dar responsabilidad a todos los miembros de un equipo, hacerles ver que son capaces y pueden tomar decisiones en beneficio del grupo y lograr el éxito empresarial no importando las </p>
								<p>Tratar con individuos con una trayectoria de vida diferente, conocimientos y capacidades que en algunos casos llega a ser polar, puede generar situaciones en las que los trabajadores y los líderes nunca lleguen a trabajar en sinergia y la compañía puede no llegar a sus objetivos. Los equipos presentan bajo rendimiento, y el líder se enfrenta a situaciones cada vez más complicadas. Si tú eres un líder que necesita visualizar un camino estratégico para lograr que tu equipo mejore su rendimiento y así cumplir con tus KPI´S, quizá te interesa saber estos escenarios que describen los retos que un gran líder vive al manejar a su equipo.</p>
							</div>
							<div class="sub-section">
								<h3>Escenario 1: Desconfianza en las capacidades de otros.</h3>
								<p>Cuando un líder se enfrenta a situaciones donde las capacidades de su equipo suelen ser un misterio, el líder puede preferir no delegar actividades que tienen un alto valor y hacerlas por él mismo, esto puede generar una sobrecarga de trabajo, además de desconfianza con sus colaboradores, porque recordemos que comportamiento predice comportamiento.</p>
								<p>La solución es delegar y desarrollar la confianza: Delegar es una práctica que conlleva confianza, es creer que tu equipo de trabajo es capaz de llevar a cabo sus actividades de la mejor manera. Y esto se logra a través del empoderamiento, en darles a notar en qué son buenos. El liderazgo se desarrolla cuando cada miembro del equipo comprende que es dueño de las actividades que realiza pero más que nada, que sientan que su trabajo suma a un fin común y es muy valioso.</p>
							</div>
							<div class="sub-section">
								<h3>Escenario 2: Hasta donde puedo dar libertad siendo líder. </h3>
								<p>Esta palabra a la mayoría de los líderes de equipos les da miedo, porque no saben el equilibrio que deben de tener entre la confianza que se les está brindando los miembros del equipo y en donde ya es ser permisivo. Los indicadores de productividad pueden irse al suelo, o el ambiente laboral está que arde, y al final no se puede ser ni el santo ni el diablo. La respuesta es: no te preocupes, confía y  da libertad, y cuando esa libertad genere excesos de confianza, ten la libertad de aclarar las cosas.<br> Dar libertad a un colaborador te puede llegar a traer beneficios como reforzar el lazo de confianza y comunicación. Todo esto dejando claro los lineamientos que tendrán que seguir, explicarle lo que esperas de él y de su trabajo, y lo más importante, lograr ser claro sobre la importancia que tiene cumplir para todos en la compañía. Esto con el único fin de llegar a los objetivos en un ambiente de armonía y colaboración.  <br>Confiar en las capacidades tu equipo: Lo importante en este punto es distinguir cada una de las habilidades de tus colaboradores y delegar las tareas que más se adecuen a su perfil. A la vez de, enseñarles a desarrollar sus áreas de oportunidad apoyándose de ti o de algún miembro que tenga la habilidad que necesita mejorar, para lograr esto también es importante fortalecer los lazos de comunicación.</p>
							</div>
							<div class="sub-section">
								<h3>Esecenario 3— Todos hacia un mismo objetivo. </h3>
								<p>Muchos líderes tienen la capacidad de mirar más allá que su panorama inmediato, de hecho esta es una de las causas por las cuáles el líder se convierte en líder, sin embargo un extraordinario líder logra sumar la perspectiva de todo su equipo y asi ver más allá de cualquier escenario pensado de manera individual, cuando esto no sucede, los esfuerzos que se aplican para lograr las metas pueden ser desperdiciados, o cuántas veces hemos esperado por un resultado “A”, y recibimos un “Z”, es desesperante no lograr transmitir una visión 360 a cada miembro de nuestro equipo.<br>La solución es Una Visión clara: Apoyar a tu equipo en desarrollar una visión 360 que le permita ver todas las alternativas para poder lograr un objetivo, enseñarles siempre a hacer que las cosas pasen tal y como el plan y la estrategia lo requieren, las prácticas de los líderes efectivos para generar una visión clara son:</p>
								<ol>
									<li>Plantearnos objetivos alcanzables.</li>
									<li>Asignar tareas a cada miembro del equipo.</li>
									<li>Explicar claramente a tu equipo el plan y estrategia.</li>
									<li>Asignar fechas límite de entrega.</li>
								</ol>
							</div>
							<div class="sub-section">
								<h3>Esecenario 3— Todos hacia un mismo objetivo. </h3>
								<p>A diario un líder se enfrenta con retos y situaciones que implican externar a su equipo de trabajo la resolución de problemas, sin embargo, no siempre existe una comunicación efectiva,  lo que lleva al equipo a un teléfono descompuesto empresarial, donde los resultados y esfuerzos en lugar de sumar restan, esto puede ser visible si en tu equipo de trabajo los resultados esperados siempre son inesperados y, si no se atiende a tiempo se convierte en una mala práctica que puede desencadenar en bomberazos. <br>La solución es tener una Comunicación Afectiva: Es muy importante que la comunicación sea clara y afectiva, relacionándonos en un ambiente siempre de cordialidad y mutuo respeto, porque el impacto de las emociones es más grande de lo que podemos visualizar. Mensajes que generan emociones negativas son una de las principales causas para empeorar los resultados de la empresa, simplemente por no saber transmitir el mensaje con las palabras ideales  y la determinación correcta, reconociendo al otro como alguien que siente al igual que yo, por eso recuerda que un equipo afectivo se convierte en un equipo efectivo.</p>
								
							</div>
							<div class="sub-section">
								<p>Si dijiste que sí a 1 o más situaciones, este puede ser tu plan:</p>
								<h3>Plan 1</h3>
								<p>Si crees que estás frente a alguno de los escenarios te recomendamos informarte acerca del tema de inteligencia emocional el cual te servirá para tener un panorama más claro y saber diferenciar las situaciones y la emocionalidad que necesitas para solucionar o potenciar la situación. De igual modo debes aprender los beneficios del liderazgo directivo para tu formación y el impacto que tiene en tu equipo de trabajo. Convoca a tu equipo y trabaja junto con ellos para mejorar la dirección.</p>
								<h3>Plan 2</h3>
								<p>Ahora bien, si te encuentras como líder en una situación de urgencia, interésate por adquirir un taller personalizado que te permita identificar puntos esenciales para lograr desarrollar el liderazgo directivo y así alcanzar el máximo crecimiento profesional. El taller te deberá brindar las aptitudes necesarias para afrontar situaciones de una manera precisa, no importando cual sea ésta, este punto va dirigido a líderes que necesitan un plan estratégico y que están realmente comprometidos con su desarrollo directivo.</p>
								<h3>Plan 3</h3>
								<p>Contáctanos, juntos prepararemos los escenarios ideales para que tú y tu equipo logren ser extraordinarios.</p>
								
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-md-3">
					<div class="widget sidebar-wideget widget_categories">
								<div class="sidebar-title">
									<h2>Categorías</h2>
								</div>
								<ul>
									<li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
									<li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
									<li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
									<li><a href="#!">Los sintomas de un lider que neccesita capacitación</a></li>
								</ul>
					</div>

					<div class="widget sidebar-wideget">
								<div class="sidebar-title">
									<h2>Artículos Recientes</h2>
								</div>
								<div class="last-post">
									<div class="item">
										<a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

									</div>
									<div class="item">
										<a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

									</div>
									<div class="item">
										<a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

									</div>
									<div class="item">
										<a class="title" href="#">Los sintomas de un lider que neccesita capacitación</a>

									</div>
								</div>
							</div>


							
				</div>

			</div>

		</div>
	</section>

	<section class="default-padding" style="background-color: #00356C">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<img src="img/cta-info.png" class="cta-img" alt="">
				</div>
				<div class="col-sm-12 col-md-8 text-cta">
					<h2>¿Necesitas más información? Solicita una consultoría y pensemos juntos una solución.</h2>
					<div class="btn-ebook" style="padding-top: 30px">	
					   <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita una Consultoría</a>
				   </div> </div>
			</div>
		</div>
    </section>
	
	
	<section class="default-padding" style="background-color: #00879B">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-8 text-cta">
					<h2>¿Listo(a) para tu primer paso? <br>Solicita una consultoría y pensemos juntos una solución.</h2>
					<h3>Visita nuestra biblioteca de descargables, ahí encontrarás herramientas gratuitas para potenciar a tu capital humano.</h3>
					<div class="btn-ebook" style="padding-top: 30px">	
					   <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Descargar Herramientas Gratis</a>
				   </div> 
				</div>
				<div class="col-sm-12 col-md-4">
					<img src="img/ebook_cta-tienes.png" class="cta-img-tienes" alt="">
				</div>
			</div>
		</div>
    </section>	
</div>