<div class="comunicacionEfectivaDiv">
    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img soluciones-liderazgo">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-soluciones">Taller de comunicación efectiva entre colaboradores</h2>

                                <div class="btn-ebook" style="padding-top: 30px">
                                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita
                                        una Consultoría</a>
                                </div>
                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <!-- #header-bottom -->
    </div>
    <!-- #header-bottom-wrap -->
    <!-- import content layouts and modules -->

    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title sub-title">
                    <h1>Construyendo Juntos</h1>
                    <h3>Comunicación efectiva, generando lazos sanos y compromisos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sub-title pad-int">
                    <p>Taller de comunicación efectiva para líderes y colaboradores en escenarios de conversación clara,
                        precisa y bajo sus propias reglas de convivencia, generando aprendizajes en tres tipos de
                        comportamientos: lo que nos acerca, lo que nos aleja, y nuestras alertas para cumplir los
                        objetivos.</p>

                    <p>Es fundamental mantener una comunicación efectiva y una atención constante en el equipo, ya que
                        los objetivos organizacionales están en constante cambio debido a los factores internos y
                        externos que se presentan. A través de escenarios, con los cuales los líderes y sus
                        colaboradores puedan conversar de manera clara, precisa y bajo sus propias reglas de
                        convivencia, se genera un ambiente de aprendizaje, en donde se identifican tres tipos de
                        comportamientos clave para alinear la visión del futuro, los cuales son: qué comportamientos nos
                        están alejando de nuestros objetivos, qué comportamientos debemos reflexionar o tener en
                        observación y, por último, qué comportamientos debemos seguir haciendo, es decir, qué sí nos
                        esta acercando a nuestros objetivos.</p>


                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <h3>Objetivo General</h3>
                    <p>Estaremos enfocados en alinear al equipo y hacerlos conscientes de que, sumando su talento,
                        demostrándose apoyo, comunicándose y dando soluciones de valor agregado, lograrán los resultados
                        que esperan en sus áreas.</p>
                    <p>El objetivo principal es alcanzar la máxima productividad mediante la sinergia de todos los
                        miembros del equipo de colaboradores. </p>
                    <h3>¿A quién está dirigido?</h3>
                    <p>Este taller está diseñado para equipos y áreas de trabajo, y si la empresa lo requiere, el taller
                        lo pueden tomar todos los colaboradores. </p>
                </div>
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="img/com-ef-obj.jpg" width="100%" alt="">
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="img/com-ef-temas.jpg" width="100%" alt="">
                </div>
                <div class="col-sm-12 col-md-6 sub-title pad-int order-sm-first-int">
                    <h3>Temas relevantes que manejarás</h3>
                    <ol>
                        <li>Cohesión e integración del equipo.</li>
                        <li>Que exista interacción, desarrollar cercanía y fuerte confianza.</li>
                        <li>Crear un lenguaje común pasando del “Yo” al “Nosotros”.</li>
                        <li>Fortalecer la comunicación efectiva y la apertura.</li>
                        <li>Crear un ambiente de colaboración donde podamos compartir objetivos y métricas.</li>
                        <li>Reforzar el compromiso y que nos demostremos entre todos apoyo.</li>
                        <li>Renovación de la energía del equipo.</li>
                    </ol>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <h3>Método</h3>
                    <p>LoLos facilitadores generan un escenario de apertura y disposición al cambio, así como un enfoque
                        en buscar y encontrar la mejor solución trabajando en equipo, fortaleciendo los lazos sanos que
                        ya se tienen y generando nuevos si no los hay. </p>
                    <p>Competencias que refuerza:</p>
                    <ol>
                        <li>Liderazgo</li>
                        <li>Trabajo en equipo</li>
                        <li>Interés por el cliente interno y externo</li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="img/com-ef-met.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding" style="background-color: #00356C">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <img src="img/cta-info.png" class="cta-img" alt="">
                </div>
                <div class="col-sm-12 col-md-8 text-cta">
                    <h2>¿Necesitas más información? Solicita una consultoría y pensemos juntos una solución.</h2>
                    <div class="btn-ebook" style="padding-top: 30px">
                        <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita una
                            Consultoría</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title text-center">
                    <h2>¿Buscas algo diferente?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="capacitacion-directores-colaboradores-clave">
                                    <h2 class="text-nuestras">Liderazgo directivo</h2>
                                    <p class="text-nuestras-p">Para directores y colaboradores<br> clave en la
                                        organización.</p>
                                    <img src="img/liderazgo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="reestructuracion-areas-kpis">
                                    <h2 class="text-nuestras">Adaptación y Renovación<br> ante el cambio</h2>
                                    <p class="text-nuestras-p">Restructuración&nbsp;de&nbsp;áreas&nbsp;y&nbsp;KPI´s</p>
                                    <img src="img/adaptacion-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="comunicacion-efectiva">
                                    <h2 class="text-nuestras">Construyendo<br>juntos</h2>
                                    <p class="text-nuestras-p">Comunicación&nbsp;efectiva,<br>
                                        generando&nbsp;lazos&nbsp;sanos<br> y compromisos.</p>
                                    <img src="img/construyendo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="top: 34%">Un mismo objetivo<br> una misma dirección
                                    </h2>
                                    <p class="text-nuestras-p">Desarrollo&nbsp;de&nbsp;liderazgos&nbsp;en<br>
                                        equipos&nbsp;multigeneracionales<br>
                                        Desarrollo&nbsp;al&nbsp;equipo&nbsp;de&nbsp;trabajo. <br>“Team Development”</p>
                                    <img src="img/objetivo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="top: 36%">Formación de<br> Instructores y<br>
                                        Facilitadores</h2>
                                    <p class="text-nuestras-p" style="top: 70%">Colaboradores deseando<br> desarrollarse
                                        como instructor<br> experto en RH para sumar valor<br> a las organizaciones.</p>
                                    <img src="img/formacion1-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="font-size: 19px">Solución de Conflictos<br> en
                                        Equipos de Trabajo</h2>
                                    <p class="text-nuestras-p" style="top: 63%">Solución de problemas con<br> clientes
                                        internos o entre áreas.</p>
                                    <a><img src="img/sol-con-square.jpg" style="width: 100%;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="ventas-exitosas">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 30%">Ventas Rentables<br>
                                        para Generar Riqueza</h2>
                                    <p class="text-nuestras-p">Las personas necesitan desarrollar<br> nuevos
                                        comportamientos que les<br> sean útiles, para impactar<br> positivamente la
                                        rentabilidad y la<br> productividad del negocio.</p>
                                    <img src="img/rentables-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 32%">Ahorro y Eficiencia
                                        en<br> manejo de Inventarios<br> en Almacenes</h2>
                                    <p class="text-nuestras-p">Mejorar efectividad en procesos y<br> calidadademás de
                                        cuidar<br> los recursos.</p>
                                    <img src="img/ahorro-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras">Outplacement</h2>
                                    <p class="text-nuestras-p">Recolocación o Reubicación del<br> colaborador Asistencia
                                        para <br>afrontar la pérdida del trabajo.</p>
                                    <img src="img/out-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="formacion-de-coaching">
                                    <h2 class="text-nuestras" style="font-size: 19px">Formación de Coaching</h2>
                                    <p class="text-nuestras-p">Coaching Transformacional<br> (EC0234) por SEP - CONOCER
                                    </p>
                                    <img src="img/forma-coach-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center title">
                    <h2>Ellos han confiado en nosotros</h2>
                </div>
            </div>
        </div>
        <div class="single slider container clientes" style="padding-bottom:0px; position: relative; margin-bottom: 0">



            <div class="service-icon-box">
                <img src="img/logos-clientes/basf.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="img/logos-clientes/ahorro.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="img/logos-clientes/heineken.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="img/logos-clientes/ahorro.png" height="auto" alt="">
            </div>


        </div>

    </section>
    <section class="default-padding" style="background-color: #00879B">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 text-cta">
                    <h2>¿Tienes algo que resolver en tu área de Recursos Humanos?</h2>
                    <h3>Visita nuestra biblioteca de descargables, ahí encontrarás herramientas gratuitas para potenciar
                        a tu capital humano.</h3>
                    <div class="btn-ebook" style="padding-top: 30px">
                        <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Descargar Herramientas
                            Gratis</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="img/ebook_cta-tienes.png" class="cta-img-tienes" alt="">
                </div>
            </div>
        </div>
    </section>
</div>