<div class="contactoDiv">
    <!-- import content layouts and modules -->

    <section class="default-padding" style="background-color: #EFF7FF">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title sub-title">
                    <h1>Solicita una consultoría y pensemos juntos una solución</h1>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <p>Somos un equipo multidisciplinario de facilitadores, coaches y consultores enfocados y
                        apasionados por nuestro trabajo. Implementamos estrategias de desarrollo del capital humano a
                        través de ensayos dinámicos, role playing, solución de casos y diversas metodologías. Contacta
                        con nuestros consultores de Recurosos humanos y pensemos juntos una solución.</p>
                    <img src="img/contacto-rocket.png" width="100%" alt="">
                </div>

                <div class="col-sm-12 col-md-6 d-flex align-items-cent sub-title pad-int" style="flex-wrap: wrap">
                    <h3>Compártenos tus datos para agendar una asesoría</h3>
                    <form action="/action_page.php">




                        <input type="text" id="lname" name="lastname" placeholder="Nombre completo">
                        <div style="display: flex">
                            <div class="col-sm-6" style="padding: 0">
                                <input style="margin: 5px auto; display: inline-block" type="text" id="lname"
                                    name="lastname" placeholder="Teléfono">
                            </div>
                            <div class="col-sm-6" style="padding: 0">
                                <input style="margin: 5px 5px; display: inline-block" type="text" id="fname"
                                    name="firstname" placeholder="Correo">
                            </div>
                        </div>
                        <input type="text" id="lname" name="lastname" placeholder="Cuéntanos tu necesidad"
                            style="height: 100px">

                        <input type="submit" value="Enviar">
                    </form>
                    <div class="row margin-resp-contact-f" style="align-self: center">
                        <div class="col-sm-6 datos-contacto">
                            <div class="img-icon">
                                <img src="img/icons/direccion.png" alt="">
                            </div>
                            <p><b>Dirección:</b><br> <a href="https://goo.gl/maps/NF5cxZBrLLLM6TDg9" target="_blank">1ra
                                    CDA. Lago Atitlán #3. Mexico Nuevo, Miguel Hidalgo, C.P. 11260</a></p>
                        </div>
                        <div class="col-sm-6 datos-contacto">
                            <div class="img-icon">
                                <img src="img/icons/numeros.png" alt="">
                            </div>
                            <p><b>Números de contacto:</b><br>
                                <a href="tel:+525578464662">- 5578464662</a><br><a href="tel:+525574247451">-
                                    5574247451</a><br><a href="tel:+525564230283">- 5564230283</a>
                            </p>
                        </div>
                        <div class="col-sm-6 datos-contacto">
                            <div class="img-icon">
                                <img src="img/icons/envio.png" alt="">
                            </div>
                            <p><b>Email:</b> <br> <a
                                    href="mailto:tuconsultor@akkaconsulting.com">tuconsultor<br>@akkaconsulting.com</a>
                            </p>
                        </div>
                        <div class="col-sm-6 datos-contacto">
                            <div class="img-icon">
                                <img src="img/icons/whats.png" alt="">
                            </div>
                            <p><b>Whats App:</b><br> <a href="https://api.whatsapp.com/send?phone=+525578464662"
                                    target="_blank">- 5578464662</a></p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section>
</div>