<div class="efectividadAlmacenesDiv">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img soluciones-conflictos">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-soluciones">Desarrolla buenas prácticas para cuidar los recursos en
                                    el almacén</h2>

                                <div class="btn-ebook" style="padding-top: 30px">
                                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita
                                        una Consultoría</a>
                                </div>
                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <!-- #header-bottom -->
    </div>
    <!-- #header-bottom-wrap -->
    <!-- import content layouts and modules -->

    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title sub-title">
                    <h1>Prácticas de Ahorro y Eficiencia en el manejo de Inventarios en Almacenes</h1>
                    <h3>Mejorar efectividad en procesos y calidad cuidando nuestros recursos</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sub-title pad-int">
                    <p>Es importante mantener al equipo en constante entrenamiento para que utilicemos los recursos de
                        la manera más optima posible, concientizando que, si nos va bien como empresa, nos va bien
                        personalmente y como colaboradores.</p>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <h3>Objetivo General</h3>
                    <p>Está enfocado en que el participante se concientice y conozca elementos sustanciales de la
                        cultura de calidad y se familiarice con herramientas y prácticas relacionadas con el cuidado de
                        su seguridad personal y con el manejo eficiente de la mercancía que le permitan impactar en su
                        productividad. </p>
                    <p>Por otro lado, buscamos que aprenda protocolos de servicio sencillos que lo lleven a crear una
                        experiencia de compra extraordinaria para el cliente e impacte en la recompra de los productos o
                        servicios.</p>
                    <h3>¿A quién está dirigido?</h3>
                    <p>A los colaboradores que administran, que manejan, que distribuyen y trasladan mercancías dentro
                        de un almacén o centro de distribución. </p>
                </div>
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="/assets/images/efec-obj.jpg" width="100%" alt="">
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="/assets/images/efec-temas.jpg" width="100%" alt="">
                </div>
                <div class="col-sm-12 col-md-6 sub-title pad-int order-sm-first-int">
                    <h3>Temas relevantes que manejarás</h3>
                    <ol>
                        <li>Elementos de la Cultura de Calidad.</li>
                        <li>La calidad es la suma del cuidado personal, de seguir procesos y de lograr los resultados
                            esperados.</li>
                        <li>¿Cuánto nos cuestan a todos los malos manejos de las mercancías?</li>
                        <li>El alto costo humano de romper las reglas y los valores.</li>
                        <li>Sugerencias para manejar adecuadamente la mercancía..</li>
                        <li>Acciones inmediatas para ahorrar y cuidar la rentabilidad.</li>
                        <li>Creando el Plan de Acción</li>
                    </ol>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <h3>Método</h3>
                    <p>Los Facilitadores se enfocan en crear consciencia en los participantes por medio de un proceso
                        dinámico y reflexivo. Los conceptos principales son permeados por medio de ejercicios, análisis
                        casos, análisis de videos y se generan compromisos con el nivel de mando a cargo del equipo que
                        se capacite.</p>
                    <p>Competencias que refuerza:</p>
                    <ol>
                        <li>Servicio al cliente</li>
                        <li>Análisis y solución de problemas</li>
                        <li>Calidad</li>
                        <li>Obtención de resultados</li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="/assets/images/efec-met.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding" style="background-color: #00356C">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <img src="/assets/images/cta-info.png" class="cta-img" alt="">
                </div>
                <div class="col-sm-12 col-md-8 text-cta">
                    <h2>¿Necesitas más información? Solicita una consultoría y pensemos juntos una solución.</h2>
                    <div class="btn-ebook" style="padding-top: 30px">
                        <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita una
                            Consultoría</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title text-center">
                    <h2>¿Buscas algo diferente?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="capacitacion-directores-colaboradores-clave">
                                    <h2 class="text-nuestras">Liderazgo directivo</h2>
                                    <p class="text-nuestras-p">Para directores y colaboradores<br> clave en la
                                        organización.</p>
                                    <img src="/assets/images/liderazgo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="reestructuracion-areas-kpis">
                                    <h2 class="text-nuestras">Adaptación y Renovación<br> ante el cambio</h2>
                                    <p class="text-nuestras-p">Restructuración&nbsp;de&nbsp;áreas&nbsp;y&nbsp;KPI´s</p>
                                    <img src="/assets/images/adaptacion-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="comunicacion-efectiva">
                                    <h2 class="text-nuestras">Construyendo<br>juntos</h2>
                                    <p class="text-nuestras-p">Comunicación&nbsp;efectiva,<br>
                                        generando&nbsp;lazos&nbsp;sanos<br> y compromisos.</p>
                                    <img src="/assets/images/construyendo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="team-development">
                                    <h2 class="text-nuestras" style="top: 34%">Un mismo objetivo<br> una misma dirección
                                    </h2>
                                    <p class="text-nuestras-p">Desarrollo&nbsp;de&nbsp;liderazgos&nbsp;en<br>
                                        equipos&nbsp;multigeneracionales<br>
                                        Desarrollo&nbsp;al&nbsp;equipo&nbsp;de&nbsp;trabajo. <br>“Team Development”</p>
                                    <img src="/assets/images/objetivo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="top: 36%">Formación de<br> Instructores y<br>
                                        Facilitadores</h2>
                                    <p class="text-nuestras-p" style="top: 70%">Colaboradores deseando<br> desarrollarse
                                        como instructor<br> experto en RH para sumar valor<br> a las organizaciones.</p>
                                    <img src="/assets/images/formacion1-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="solucion-de-conflictos">
                                    <h2 class="text-nuestras" style="font-size: 19px">Solución de Conflictos<br> en
                                        Equipos de Trabajo</h2>
                                    <p class="text-nuestras-p" style="top: 63%">Solución de problemas con<br> clientes
                                        internos o entre áreas.</p>
                                    <img src="/assets/images/sol-con-square.jpg" style="width: 100%;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="ventas-exitosas">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 30%">Ventas Rentables<br>
                                        para Generar Riqueza</h2>
                                    <p class="text-nuestras-p">Las personas necesitan desarrollar<br> nuevos
                                        comportamientos que les<br> sean útiles, para impactar<br> positivamente la
                                        rentabilidad y la<br> productividad del negocio.</p>
                                    <img src="/assets/images/rentables-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 32%">Ahorro y Eficiencia
                                        en<br> manejo de Inventarios<br> en Almacenes</h2>
                                    <p class="text-nuestras-p">Mejorar efectividad en procesos y<br> calidadademás de
                                        cuidar<br> los recursos.</p>
                                    <img src="/assets/images/ahorro-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="outplacement">
                                    <h2 class="text-nuestras">Outplacement</h2>
                                    <p class="text-nuestras-p">Recolocación o Reubicación del<br> colaborador Asistencia
                                        para <br>afrontar la pérdida del trabajo.</p>
                                    <img src="/assets/images/out-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="formacion-de-coaching">
                                    <h2 class="text-nuestras" style="font-size: 19px">Formación de Coaching</h2>
                                    <p class="text-nuestras-p">Coaching Transformacional<br> (EC0234) por SEP - CONOCER
                                    </p>
                                    <img src="/assets/images/forma-coach-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center title">
                    <h2>Ellos han confiado en nosotros</h2>
                </div>
            </div>
        </div>
        <div class="single slider container clientes" style="padding-bottom:0px; position: relative; margin-bottom: 0">



            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/basf.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/ahorro.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/heineken.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="assets/images/logos-clientes/ahorro.png" height="auto" alt="">
            </div>


        </div>

    </section>
    <section class="default-padding" style="background-color: #00879B">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 text-cta">
                    <h2>¿Tienes algo que resolver en tu área de Recursos Humanos?</h2>
                    <h3>Visita nuestra biblioteca de descargables, ahí encontrarás herramientas gratuitas para potenciar
                        a tu capital humano.</h3>
                    <div class="btn-ebook" style="padding-top: 30px">
                        <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Descargar Herramientas
                            Gratis</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="assets/images/ebook_cta-tienes.png" class="cta-img-tienes" alt="">
                </div>
            </div>
        </div>
    </section>
</div>