<div class="formacionDeCoachingDiv">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img soluciones-conflictos">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-soluciones">Triple certificación avalada por SEP-CONOCER</h2>

                                <div class="btn-ebook" style="padding-top: 30px">
                                    <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita
                                        una Consultoría</a>
                                </div>
                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <!-- #header-bottom -->
    </div>
    <!-- #header-bottom-wrap -->
    <!-- import content layouts and modules -->

    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title sub-title">
                    <h1>Formación de coaching, triple certificación</h1>
                    <h3>El Coaching Transformacional ™, es una metodología que combina las 3 variantes de coaching,
                        Coaching Ontológico, Coaching con Programación Neurolingüística (PNL) y Coaching Sistémico</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sub-title pad-int">
                    <p>El Coaching Transformacional ™, es una metodología que combina las 3 variantes de coaching más
                        usadas en el mundo, Coaching Ontológico, Coaching con Programación Neurolingüística (PNL) y
                        Coaching Sistémico, con el fin de crear resultados extraordinarios en nuestros clientes,
                        resultados en el ámbito personal, laboral y profesional. Es importante hacer hincapié que la
                        metodología de Coaching Transformacional ™ que te enseñaremos, ha sido utilizada en más de 3,000
                        ejecutivos a nivel mundial con amplio éxito.</p>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <h3>Objetivo General</h3>
                    <p>Obtener una constancia de habilidades laborales DC-3 que acredite tu formación ante la Secretaría
                        del Trabajo (STPS) Obtener un Diploma de Akka Consulting con el número de horas y registro ante
                        la STPS con Valor en Horas de Formación. Una vez acreditada la evaluación EC0234 y EC0204 ,
                        obtener un Certificado de “Ejecución de Sesiones de Coaching Transformacional” y “Ejecución de
                        Sesiones de Coaching” con Aval de la SEP– CONOCER.<br> Además de aparecer en el El Registro
                        Nacional de Personas con Competencias Certificadas (RENAP) que valide tu formación.</p>
                </div>

                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="img/coach-obj.jpg" width="100%" alt="">
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-12 sub-title pad-int">
                    <h3>¿A quién está dirigido?</h3>
                    <ul>
                        <li>Profesionales de alto nivel que estén interesados en generar una transformación en sus
                            empresas u organizaciones. </li>
                        <li>Personal de recursos humanos o atracción de talento que busquen desarrollar el potencial de
                            los colaboradores en su organización.</li>
                        <li>Consultores o Capacitadores que busquen nuevos horizontes profesionales y desarrollar el
                            potencial de las personas. </li>
                        <li>Profesionales interesados en aplicar la metodología de Coaching Transformacional. </li>
                        <li>Todo profesional que busque un nuevo ingreso por medio de la impartición de sesiones
                            privadas de coaching.</li>
                        <li>Personas que quieran dedicarse de manera Profesional al Coaching.</li>
                    </ul>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="img/coach-temas.jpg" width="100%" alt="">
                </div>
                <div class="col-sm-12 col-md-6 sub-title pad-int order-sm-first-int">
                    <h3>Temas relevantes que manejarás</h3>
                    <ol>
                        <li>Coaching Ontológico</li>
                        <li>Programación Neurolingüística (PNL)</li>
                        <li>Metamodelos de PNL</li>
                        <li>Lenguaje Verbal y No Verbal</li>
                        <li>Herramientas de Coaching Transformacional</li>
                        <li>Alineación para Certificación EC0234</li>
                        <li>Sesiones de Coaching Individuales</li>
                        <li>Sesiones de Mentoría individual para evaluar prácticas</li>
                    </ol>
                </div>
            </div>
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-6 sub-title pad-int">
                    <h3>Método</h3>
                    <ol>
                        <li> Cada Módulo consta de 6 hrs de formación por medio de sesiones en línea/presenciales, lo
                            cual da como resultado 48 hrs de formación teórica. </li>
                        <li>Cada participante recibirá 10 sesiones de coaching personal y 5 sesiones de mentoría.</li>
                        <li>Duración de 4 mese -de todo el proceso-.</li>
                        <li>En total la formación consta de 93 horas (63 hrs de Teoría y 30 hrs de Práctica).</li>
                    </ol>
                    <p>Ventajas de tomar la certificación con Akka Consulting:</p>
                    <ol>
                        <li>Nuestro equipo de coaches y facilitadores están graduados de las mejores universidades el
                            país, tienen certificaciones internacionales y cuentan con amplia experiencia en la materia.
                        </li>
                        <li>Somos un Centro Evaluador acreditado por SEP-CONOCER y el Instituto de Certificación
                            Empresarial de México. </li>
                        <li> Contarás con una plataforma en línea, en la cual quedarán grabadas las clases y estará
                            disponible el material en cualquier momento. </li>
                        <li>Contamos con amplia experiencia y coaches satisfechos.</li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-6 border-r-img">
                    <img src="img/coach-met.jpg" width="100%" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding" style="background-color: #00356C">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <img src="img/cta-info.png" class="cta-img" alt="">
                </div>
                <div class="col-sm-12 col-md-8 text-cta">
                    <h2>¿Necesitas más información? Solicita una consultoría y pensemos juntos una solución.</h2>
                    <div class="btn-ebook" style="padding-top: 30px">
                        <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Solicita una
                            Consultoría</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title text-center">
                    <h2>¿Buscas algo diferente?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="capacitacion-directores-colaboradores-clave">
                                    <h2 class="text-nuestras">Liderazgo directivo</h2>
                                    <p class="text-nuestras-p">Para directores y colaboradores<br> clave en la
                                        organización.</p>
                                    <img src="img/liderazgo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="reestructuracion-areas-kpis">
                                    <h2 class="text-nuestras">Adaptación y Renovación<br> ante el cambio</h2>
                                    <p class="text-nuestras-p">Restructuración&nbsp;de&nbsp;áreas&nbsp;y&nbsp;KPI´s</p>
                                    <img src="img/adaptacion-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="comunicacion-efectiva">
                                    <h2 class="text-nuestras">Construyendo<br>juntos</h2>
                                    <p class="text-nuestras-p">Comunicación&nbsp;efectiva,<br>
                                        generando&nbsp;lazos&nbsp;sanos<br> y compromisos.</p>
                                    <img src="img/construyendo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="top: 34%">Un mismo objetivo<br> una misma dirección
                                    </h2>
                                    <p class="text-nuestras-p">Desarrollo&nbsp;de&nbsp;liderazgos&nbsp;en<br>
                                        equipos&nbsp;multigeneracionales<br>
                                        Desarrollo&nbsp;al&nbsp;equipo&nbsp;de&nbsp;trabajo. <br>“Team Development”</p>
                                    <img src="img/objetivo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="top: 36%">Formación de<br> Instructores y<br>
                                        Facilitadores</h2>
                                    <p class="text-nuestras-p" style="top: 70%">Colaboradores deseando<br> desarrollarse
                                        como instructor<br> experto en RH para sumar valor<br> a las organizaciones.</p>
                                    <img src="img/formacion1-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="font-size: 19px">Solución de Conflictos<br> en
                                        Equipos de Trabajo</h2>
                                    <p class="text-nuestras-p" style="top: 63%">Solución de problemas con<br> clientes
                                        internos o entre áreas.</p>
                                    <a><img src="img/sol-con-square.jpg" style="width: 100%;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="ventas-exitosas">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 30%">Ventas Rentables<br>
                                        para Generar Riqueza</h2>
                                    <p class="text-nuestras-p">Las personas necesitan desarrollar<br> nuevos
                                        comportamientos que les<br> sean útiles, para impactar<br> positivamente la
                                        rentabilidad y la<br> productividad del negocio.</p>
                                    <img src="img/rentables-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 32%">Ahorro y Eficiencia
                                        en<br> manejo de Inventarios<br> en Almacenes</h2>
                                    <p class="text-nuestras-p">Mejorar efectividad en procesos y<br> calidadademás de
                                        cuidar<br> los recursos.</p>
                                    <img src="img/ahorro-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras">Outplacement</h2>
                                    <p class="text-nuestras-p">Recolocación o Reubicación del<br> colaborador Asistencia
                                        para <br>afrontar la pérdida del trabajo.</p>
                                    <img src="img/out-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="formacion-de-coaching">
                                    <h2 class="text-nuestras" style="font-size: 19px">Formación de Coaching</h2>
                                    <p class="text-nuestras-p">Coaching Transformacional<br> (EC0234) por SEP - CONOCER
                                    </p>
                                    <img src="img/forma-coach-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center title">
                    <h2>Ellos han confiado en nosotros</h2>
                </div>
            </div>
        </div>
        <div class="single slider container clientes" style="padding-bottom:0px; position: relative; margin-bottom: 0">



            <div class="service-icon-box">
                <img src="img/logos-clientes/basf.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="img/logos-clientes/ahorro.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="img/logos-clientes/heineken.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="img/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="img/logos-clientes/ahorro.png" height="auto" alt="">
            </div>


        </div>

    </section>
    <section class="default-padding" style="background-color: #00879B">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 text-cta">
                    <h2>¿Tienes algo que resolver en tu área de Recursos Humanos?</h2>
                    <h3>Visita nuestra biblioteca de descargables, ahí encontrarás herramientas gratuitas para potenciar
                        a tu capital humano.</h3>
                    <div class="btn-ebook" style="padding-top: 30px">
                        <a href="contacto" class="button is-primary resp-btn-header btn-mar-top">Descargar Herramientas
                            Gratis</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img src="img/ebook_cta-tienes.png" class="cta-img-tienes" alt="">
                </div>
            </div>
        </div>
    </section>
</div>