<div class="gestionDelCapitalHumano">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img soluciones-conflictos">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-soluciones">Somos un equipo multidisciplinario especializado en la
                                    gestión y desarrollo del talento humano</h2>

                                <div class="btn-ebook" style="padding-top: 30px">
                                    <a href="https://contenido.akkaconsulting.mx/solicitar-consulta"
                                        class="button is-primary resp-btn-header btn-mar-top">Solicita una
                                        Consultoría</a>
                                </div>
                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <!-- #header-bottom -->
    </div>
    <!-- #header-bottom-wrap -->
    <!-- import content layouts and modules -->
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title sub-title">
                    <h1>¿Qué es Akka Consulting S.C.?</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sub-title">
                    <p>Fundamos <b>Akka Consulting S.C.</b> en el año 2004, y desde entonces <b>somos un equipo
                            multidisciplinario</b> de consultores y facilitadores, <b>especializados en crear e impartir
                            cursos, talleres e incluso realizamos experiencias outdoor</b>, enfocados en fortalecer el
                        talento de las personas que se entrenan con nosotros, y así <b>desarrollar organizaciones desde
                            sus colaboradores.</b></p>
                    <p>Nuestras intervenciones tienen como marco las <b>competencias gerenciales</b> y buscamos que las
                        personas durante su entrenamiento practiquen conductas observables que <b>fortalezcan sus
                            relaciones interpersonales</b>, sus habilidades gerenciales e identifiquen aspectos que los
                        lleven <b>a mejorar su desempeño laboral.</b></p>
                    <p>Nuestros consultores y facilitadores tienen amplia experiencia y han entrenado a equipos
                        directivos, gerenciales y a colaboradores en organizaciones privadas, públicas y gubernamentales
                        tanto en <b>México como en otras partes de América.</b></p>
                </div>
            </div>


        </div>
    </section>

    <section class="default-padding"
        style="background: transparent linear-gradient(180deg, #EFF7FF 0%, #EFF7FF00 100%) 0% 0% no-repeat padding-box;">
        <div class="container" style="max-width: 900px">
            <div class="row">
                <div class="col-xs-12 ">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">Empatía</a>
                            <a class="nav-item nav-link" id="nav-conf-tab" data-toggle="tab" href="#nav-conf" role="tab"
                                aria-controls="nav-conf" aria-selected="false">Confianza</a>
                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                role="tab" aria-controls="nav-contact" aria-selected="false">Congruencia</a>
                            <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                                role="tab" aria-controls="nav-about" aria-selected="false">Disciplina</a>
                            <a class="nav-item nav-link" id="nav-inno-tab" data-toggle="tab" href="#nav-inno" role="tab"
                                aria-controls="nav-inno" aria-selected="false">Innovación</a>
                            <a class="nav-item nav-link" id="nav-vol-tab" data-toggle="tab" href="#nav-vol" role="tab"
                                aria-controls="nav-vol" aria-selected="false">Voluntad</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            Creemos que si logramos reconocer al otro como nuestro igual, es decir, como una persona con
                            sentimientos y pensamientos propios, logramos generar.
                        </div>
                        <div class="tab-pane fade" id="nav-conf" role="tabpanel" aria-labelledby="nav-conf-tab">
                            Creemos que es una de las bases del éxito personal y del equipo, comienza en confiando en
                            nosotros mismos y en los demás.
                        </div>
                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                            Creemos que una parte fundamental para poder inspirar e impactar positivamente a las
                            personas, es guiando con el ejemplo de nuestras acciones.
                        </div>
                        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                            Creemos que para lograr el cumplimiento de nuestros objetivos debemos lograr la gestión
                            ideal de nuestras acciones y actitudes.
                        </div>
                        <div class="tab-pane fade" id="nav-inno" role="tabpanel" aria-labelledby="nav-inno-tab">
                            Creemos que el aprendizaje se experiemnta cuando logramos salir de la zona cómoda y entramos
                            a un escenario de innovación.
                        </div>
                        <div class="tab-pane fade" id="nav-vol" role="tabpanel" aria-labelledby="nav-vol-tab">
                            Creemos que la voluntad es la energía vital que nos mueve a cumplir con nuestro propósito de
                            ayudar a las empresas a tener colaboradores extraordinarios.
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
</div>
</section>
<section class="default-padding"
    style="background-image: url('img/fondo-blanco.jpg'); background-size: contain; padding-bottom: 90px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title">
                <h2>Cómo lo hacemos</h2>
            </div>
        </div>
        <div class="row" style="flex-wrap: wrap;">
            <div class="flex-mis-vis">
                <img src="img/mision.jpg" width="100%" alt="">

                <h3>Misión</h3>
                <p>Diseñar experiencias memorables para impactar positivamente en la calidad de vida de nuestros
                    clientes.</p>

                <!--
						<div class="btn-conoce" style="text-align: center">
							<a href="#" class="button is-primary resp-btn-header btn-mar-top" style="margin-top: 5px;">Conoce más</a>
						</div>
-->

            </div>
            <div class="flex-mis-vis">
                <img src="img/vision.jpg" width="100%" alt="">

                <h3>Visión</h3>
                <p>Ser una empresa reconocida, servicial y con sentido humano, que brinde soluciones de consultoría para
                    implementar estrategias de desarrollo de competencias, a través de capacitación de alta calidad en
                    desarrollo directivo y gerencial para líderes, y en desarrollo humano para colaboradores. </p>

                <!--
						<div class="btn-conoce" style="text-align: center">
							<a href="#" class="button is-primary resp-btn-header btn-mar-top" style="margin-top: 5px;">Conoce más</a>
						</div>
-->

            </div>

        </div>
    </div>
</section>
<section class="default-padding"
    style="background-image: url('img/fondo-blanco.jpg'); background-size: contain; padding-bottom: 60px">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 title">
                <h2>Nuestro equipo</h2>
            </div>
        </div>
    </div>
    <div class="container" style="position: relative">
        <button class="prev-arrow-pro" onClick="prevSlide()"></button>
        <button class="next-arrow-pro" onClick="nextSlide()"></button>
    </div>
    <div class="center slider container">

        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/karlo.png" width="90%" alt="">
            </div>
        </div>
        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/vanessa.png" width="90%" alt="">
            </div>
        </div>
        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/edris.png" width="90%" alt="">
            </div>
        </div>
        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/josue.png" width="90%" alt="">
            </div>
        </div>
        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/nayely.png" width="90%" alt="">
            </div>
        </div>
        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/francisco.png" width="90%" alt="">
            </div>
        </div>
        <div>
            <div class="service-icon-box">
                <img src="/assets/images/equipo/oskar.png" width="90%" alt="">
            </div>
        </div>
    </div>

</section>
<section class="default-padding" style="background-color: #EFF7FF">
    <div class="container">
        <div class="row" style="align-content: center">

            <div class="col-sm-12 col-md-6 counter-resp">

                <h2 class="title">Nuestros logros</h2>
                <p style="font-size: 14px">Cuando nos damos cuenta de que todo lo que hagamos o dejemos de hacer impacta
                    en nuestra vida y en la de los demás, lograremos ver un mar de oportunidades, festejos y triunfos.
                </p>

                <div class="row counter-row">
                    <div class="col">
                        <div class="counter">
                            <!--						  <i class="fa fa-code fa-2x"></i>-->
                            <h2 class="timer count-title count-number" data-to="40400" data-speed="1500"></h2>
                            <p class="count-text ">Colaboradores</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <!--						  <i class="fa fa-coffee fa-2x"></i>-->
                            <h2 class="timer count-title count-number" data-to="2303" data-speed="1500"></h2>
                            <p class="count-text ">Talleres</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <!--						  <i class="fa fa-lightbulb-o fa-2x"></i>-->
                            <h2 class="timer count-title count-number" data-to="310" data-speed="1500"></h2>
                            <p class="count-text ">Campamentos</p>
                        </div>
                    </div>
                    <div class="col">
                        <div class="counter">
                            <!--						  <i class="fa fa-bug fa-2x"></i>-->
                            <h2 class="timer count-title count-number" data-to="251" data-speed="1500"></h2>
                            <p class="count-text ">Conferencias</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-12 col-md-6 text-center">
                <img src="assets/images/equipos-liders.png" width="100%" alt="">
                <p style="padding-top: 20px">Equipo de líderes, Grupo LALA<br> Taller de liderazgo directivo</p>
            </div>
        </div>
    </div>
</section>
<section class="default-padding" style="background-color: #00356C">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <img src="/assets/images/cta-info.png" class="cta-img" alt="">
            </div>
            <div class="col-sm-12 col-md-8 text-cta">
                <h2>¿Necesitas más información? Solicita una consultoría y uno de nuestros expertos se comunicará
                    contigo</h2>
                <div class="btn-ebook" style="padding-top: 30px">
                    <a href="https://contenido.akkaconsulting.mx/solicitar-consulta"
                        class="button is-primary resp-btn-header btn-mar-top">Solicita una Consultoría</a>
                </div>
            </div>
        </div>
    </div>
</section>
 <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center title">
                    <h2>Ellos han confiado en nosotros</h2>
                </div>
            </div>
        </div>
        <div class="single slider container clientes" style="padding-bottom:0px; position: relative; margin-bottom: 0">



            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/basf.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/ahorro.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/heineken.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/ahorro.png" height="auto" alt="">
            </div>


        </div>

    </section>
</div>