<div class="thankuPage">
    <!-- Event snippet for Formulario contacto AKKA conversion page -->
    {{!--
    <script>
        gtag('event', 'conversion', { 'send_to': 'AW-10780295638/f8fBCIaMl_cCENaDuZQo' });
    </script> --}}
    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img contacto">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-contacto-div">¡Gracias! <br> Si prefieres, puedes contactarnos por</h2>

                                <div class="whatsContact">
                                    <div class="img-icon">
                                        <a href="https://api.whatsapp.com/send?phone=+525578464662" target="_blank"
                                            style="color: #31f378 !important;"><i
                                                class="fab fa-whatsapp-square"></i></a>
                                    </div>
                                    <p><b>Whats App</b><br> </p>
                                </div>

                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <!-- #header-bottom -->
    </div>
</div>