<div class="procesoAkkaConsulting">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img como">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-soluciones">Proceso efectivo de capacitación de personal y desarrollo
                                    de líderes</h2>

                                <div class="btn-ebook" style="padding-top: 30px">
                                    <a href="https://contenido.akkaconsulting.mx/solicitar-consulta"
                                        class="button is-primary resp-btn-header btn-mar-top">Solicita una
                                        Consultoría</a>
                                </div>
                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <div id="diagnostico"></div>
        <!-- #header-bottom -->
    </div>
    <!-- #header-bottom-wrap -->
    <!-- import content layouts and modules -->

    <section class="default-padding">

        <div class="container">
            <!--
			<div class="row">
				<div class="col-sm-12 title sub-title">
					<h1>¿Cómo lo hacemos?</h1>
				</div>
			</div>
-->
            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-7 sub-title pad-int">
                    <h3>Diagnóstico</h3>

                    <p>En Akka Consulting entendemos el “diagnóstico” como un proceso o herramienta que nos permite
                        generar un plan estratégico de capacitación y desarrollo humano efectivo, ya que, es fundamental
                        conocer la situación actual de la empresa, el tipo de vínculos entre colaboradores y líderes,
                        los valores, visión y misión de ésta, entre otros aspectos importantes.</p>

                    <p>El diagnóstico es la parte medular del plan de acción, ya que, a través de identificar los
                        obstáculos que nos impiden seguir creciendo, y reconocer también nuestros puntos fuertes,
                        podemos inspirar a los colaboradores y líderes para lograr un cambio organizacional.</p>

                    <p>Primeramente, es fundamental generar una entrevista con los líderes o directores de la
                        organización para conocer puntos clave que nos permitan comprender qué es lo que está sucediendo
                        en la organización, y así poder diseñar un escenario en donde los colaboradores y líderes
                        practiquen comportamientos que vayan enfocados a lograr los objetivos. </p>

                    <p>Una vez que se genera la consultoría, alineamos objetivos con los líderes y directores, así
                        proponemos una estrategia personalizada a las necesidades de desarrollo del personal de cada
                        empresa.</p>

                </div>
                <div id="ensayo"></div>
                <div class="col-sm-12 col-md-5 border-r-img" style="display: flex; align-content: center">
                    <div style="align-self: center">
                        <img src="img/diag.png" width="100%" alt="">
                    </div>
                </div>
            </div>

            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-5 border-r-img" style="display: flex; align-content: center">
                    <div style="align-self: center">
                        <img src="img/ensayo.png" width="100%" alt="">
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 sub-title pad-int order-sm-first-int">
                    <h3>Ensayo dinámico</h3>
                    <p>En Akka Consulting entendemos como ensayo dinámico al escenario en donde los colaboradores y
                        líderes generan aprendizaje a través de un ambiente controlado de innovación, que los saca de la
                        zona cómoda, siendo aquí donde se practican los comportamientos que deseamos se repliquen en
                        nuestra organización.</p>

                    <p>A lo largo de nuestra experiencia nos hemos dado cuenta que para lograr transmitir el mensaje de
                        aprendizaje deseado, es fundamental generarlo a través de mostrarle al colaborador cuáles son
                        las características del comportamiento que buscamos, por ejemplo, una persona que sabe trabajar
                        en equipo se apoya en los demás, pide y acepta opiniones, delega responsabilidades, incluso sabe
                        seguir a los demás, de este modo, el colaborador aprende a ser líder, en lugar de entender qué
                        es un líder, aprende viviendo. </p>

                    <p>Un ensayo dinámico va más allá de un simple juego o actividad, porque justo a través de una
                        práctica constante de comportamientos, logramos que los colaboradores vinculen su mentalidad con
                        el negocio, es decir, empatar su desarrollo personal con lo que estamos haciendo día a día en la
                        organización, recordemos que “comportamiento predice comportamiento”.</p>
                    <div id="impacto"></div>
                    <p>Y de este modo, un ensayo dinámico permite identificar actitudes y acciones que nos acercan o
                        alejan a lograr objetivos, porque la máxima “comportamiento predice comportamiento” se refiere a
                        que, así como me comporto en el ensayo dinámico, muy probablemente me esté comportando en la
                        vida real, es decir, si soy apático aquí, soy apático allá, y así aprender que si apoyo a mi
                        equipo aquí, puede ser que allá también.</p>
                </div>
            </div>

            <div class="row pad-row-inter">
                <div class="col-sm-12 col-md-7 sub-title pad-int">
                    <h3>Impacto Organizacional</h3>
                    <p>En Akka Consulting nos enfocamos en todo momento en lograr percibir las necesidades específicas
                        que requieren los equipos de trabajo, justo para guiar, gestionar y coachear a los líderes para
                        obtener los resultados deseados.</p>

                    <p>Es importante comprender que si en una sesión de capacitación, conferencia e inclusive coaching
                        empresarial, obtenemos resultados favorables, quiere decir que estamos transmitiendo el mensaje
                        efectivamente, por lo cual, la inversión que se tiene con respecto a las intervenciones de
                        capacitación están sumando a la organización. </p>

                    <p>Por ello, garantizamos que tu inversión ha sumado soluciones a tu organización, una vez terminada
                        la capacitación, desarrollamos un reporte en el cual plasmamos los puntos que observamos,
                        identificaremos alguna relación o vínculo que ponga en riesgo la salud de los colaboradores e
                        incluso de la empresa, al igual que las actitudes clave para lograr los objetivos de la sesión
                        en tu organización, cuáles son las competencias o habilidades en las que podemos mejorar, y así
                        focalizar en qué dirección debemos dar nuestros siguientes pasos. Es decir, qué estamos haciendo
                        bien, con qué debemos tener cuidado y sobre todo qué debemos cambiar y por qué.</p>

                </div>
                <div class="col-sm-12 col-md-5 border-r-img" style="display: flex; align-content: center">
                    <div style="align-self: center">
                        <img src="img/impacto-org.png" width="100%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title text-center">
                    <h2>Descubre nuestras soluciones</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="capacitacion-directores-colaboradores-clave">
                                    <h2 class="text-nuestras">Liderazgo directivo</h2>
                                    <p class="text-nuestras-p">Para directores y colaboradores<br> clave en la
                                        organización.</p>
                                    <img src="img/liderazgo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="reestructuracion-areas-kpis">
                                    <h2 class="text-nuestras">Adaptación y Renovación<br> ante el cambio</h2>
                                    <p class="text-nuestras-p">Restructuración&nbsp;de&nbsp;áreas&nbsp;y&nbsp;KPI´s</p>
                                    <img src="img/adaptacion-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="comunicacion-efectiva">
                                    <h2 class="text-nuestras">Construyendo<br>juntos</h2>
                                    <p class="text-nuestras-p">Comunicación&nbsp;efectiva,<br>
                                        generando&nbsp;lazos&nbsp;sanos<br> y compromisos.</p>
                                    <img src="img/construyendo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="team-development">
                                    <h2 class="text-nuestras" style="top: 34%">Un mismo objetivo<br> una misma dirección
                                    </h2>
                                    <p class="text-nuestras-p">Desarrollo&nbsp;de&nbsp;liderazgos&nbsp;en<br>
                                        equipos&nbsp;multigeneracionales<br>
                                        Desarrollo&nbsp;al&nbsp;equipo&nbsp;de&nbsp;trabajo. <br>“Team Development”</p>
                                    <img src="img/objetivo-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras" style="top: 36%">Formación de<br> Instructores y<br>
                                        Facilitadores</h2>
                                    <p class="text-nuestras-p" style="top: 70%">Colaboradores deseando<br> desarrollarse
                                        como instructor<br> experto en RH para sumar valor<br> a las organizaciones.</p>
                                    <img src="img/formacion1-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="solucion-de-conflictos">
                                    <h2 class="text-nuestras" style="font-size: 19px">Solución de Conflictos<br> en
                                        Equipos de Trabajo</h2>
                                    <p class="text-nuestras-p" style="top: 63%">Solución de problemas con<br> clientes
                                        internos o entre áreas.</p>
                                    <img src="img/sol-con-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="ventas-exitosas">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 30%">Ventas Rentables<br>
                                        para Generar Riqueza</h2>
                                    <p class="text-nuestras-p">Las personas necesitan desarrollar<br> nuevos
                                        comportamientos que les<br> sean útiles, para impactar<br> positivamente la
                                        rentabilidad y la<br> productividad del negocio.</p>
                                    <img src="img/rentables-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras" style="font-size: 19px; top: 32%">Ahorro y Eficiencia
                                        en<br> manejo de Inventarios<br> en Almacenes</h2>
                                    <p class="text-nuestras-p">Mejorar efectividad en procesos y<br> calidadademás de
                                        cuidar<br> los recursos.</p>
                                    <img src="img/ahorro-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="outplacement">
                                    <h2 class="text-nuestras">Outplacement</h2>
                                    <p class="text-nuestras-p">Recolocación o Reubicación del<br> colaborador Asistencia
                                        para <br>afrontar la pérdida del trabajo.</p>
                                    <img src="img/out-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-33-buscas">
                        <div class="content-item" style="width: 100%;">
                            <div class="w-rad pic" style="position: relative">
                                <a href="formacion-de-coaching">
                                    <h2 class="text-nuestras" style="font-size: 19px">Formación de Coaching</h2>
                                    <p class="text-nuestras-p">Coaching Transformacional<br> (EC0234) por SEP - CONOCER
                                    </p>
                                    <img src="img/forma-coach-square.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>