<div class="solucionProblemasOrg">

    <!-- #header-wrap -->
    <div id="header-bottom-wrap" class="is-clearfix top-img soluciones">
        <div class="cover">
            <!--
		  <picture>


					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/webp">
			  		  <source media="(max-width: 599px)" srcset="img/index-top.png" type="image/webp">
				      
					  <source media="(min-width: 600px)" srcset="img/index-top.png" type="image/jpg">
			          <source media="(max-width: 599px)" srcset="assets/img/header-top-sm.jpg" type="image/jpg">
					  <source srcset="assets/img/header-top.jpg" type="image/jpg">
					  <img style="width: 100%; object-fit: cover!important; min-height: 600px" src="assets/img/header-top.jpg" alt="">
			</picture>
-->

            <div id="header-bottom" class="site-header-bottom">
                <div id="header-bottom-inner" class="site-header-bottom-inner ">
                    <section class="hero is-medium has-text-centered about">
                        <div class="page-top hero-body">
                            <div class="container sol">
                                <h2 class="text-h2-soluciones">Capacitación y desarrollo para el cambio organizacional y
                                    gestión del capital humano</h2>
                                <h3 class="text-h3-soluciones">Somos un equipo multidisciplinario de facilitadores,
                                    coaches y consultores enfocados y apasionados por implementar estrategias de
                                    desarrollo del capital humano, a través de talleres de alto performance conocidos
                                    cómo ensayos dinámicos, role playing, solución de casos y diversas metodologías.
                                </h3>

                                <div class="" style="padding-top: 30px">
                                    <a href="contacto"
                                        class="button is-primary resp-btn-header btn-mar-top">Contáctanos</a>
                                </div>

                            </div>
                            <!-- .hero-body -->
                        </div>
                        <!-- .container -->
                    </section>
                    <!-- .page-title -->
                </div>
                <!-- #header-bottom-inner -->
            </div>
        </div>
        <!-- #header-bottom -->
    </div>
    <!-- #header-bottom-wrap -->
    <!-- import content layouts and modules -->

    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 title">
                    <h1>Nuestras soluciones</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 sub-title soluciones-p" style="padding-bottom: 40px">
                    <p>Tus necesidades como empresa siempre serán únicas, debido a que tus procesos, valores, objetivos,
                        personal, productos, básicamente todo, es diferente a las demás empresas, es por esto que las
                        bases de nuestro servicio están desarrolladas a partir de esas necesidades específicas, que
                        mediante una consultoría las lograremos identificar y desarrollar experiencias que te permitan
                        alcanzar el éxito. </p>

                    <p>Hemos diseñado conferencias, team development, talleres y entrenamientos a equipos comerciales en
                        técnicas de ventas y servicio al cliente, manejo de almacenes, desarrollo de liderazgo directivo
                        y generacional. También colaboramos con las empresas a implementar sus protocolos de servicio a
                        nivel nacional, adaptación al cambio, y solución de conflictos en equipos de trabajo. </p>

                    <p>Tenemos una metodología innovadora para desarrollar entrenadores, consultores internos y agentes
                        de cambio para proyectos de capacitación y de change management. Damos servicios de coaching
                        ejecutivo a líderes y colaboradores clave de la organización.</p>

                    <p>Estamos afiliados al Centro Evaluador acreditado por SEP-CONOCER y el Instituto de Certificación
                        Empresarial de México. Nuestro equipo de coaches y facilitadores están graduados de las mejores
                        universidades el país, tienen certificaciones internacionales y cuentan con amplia experiencia
                        en la materia.</p>
                </div>
                <div class="col-md-12 d-flex" style="flex-wrap: wrap; height: 0%">
                    <div class="item-50">
                        <div class="content-item lider-cons" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="capacitacion-directores-colaboradores-clave">
                                    <h2 class="text-nuestras-sol">Liderazgo directivo</h2>
                                    <p class="text-nuestras-p-sol">Para directores y colaboradores<br> clave en la
                                        organización.</p>
                                    <img src="/assets/images/liderazgo-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page lider-cons" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="comunicacion-efectiva">
                                    <h2 class="text-nuestras-sol">Construyendo Juntos</h2>
                                    <p class="text-nuestras-p">Comunicación efectiva, generando<br> lazos sanos y
                                        compromisos.</p>
                                    <img src="/assets/images/construyendo-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page lider-cons" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="desarrollo-facilitadores">
                                    <h2 class="text-nuestras-sol">Formación de<br> Instructores y Facilitadores</h2>
                                    <p class="text-nuestras-p-sol">Colaboradores que quieren desarrollarse como
                                        instructores o<br> expertos en el tema para sumar conocimientos áreas.</p>
                                    <img src="/assets/images/formacion-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page lider-cons" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="ventas-exitosas">
                                    <h2 class="text-nuestras-sol">Ventas Rentables<br> para Generar Riqueza</h2>
                                    <p class="text-nuestras-p-sol">Las personas necesitan desarrollar nuevos
                                        comportamientos<br> que les sean útiles, para impactar positivamente la<br>
                                        rentabilidad y la productividad del negocio.</p>
                                    <img src="/assets/images/ventas-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page lider-cons" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="outplacement">
                                    <h2 class="text-nuestras-sol">Outplacement</h2>
                                    <p class="text-nuestras-p-sol">Recolocación o Reubicación del colaborador<br>
                                        Asistencia para afrontar la pérdida del trabajo</p>
                                    <img src="/assets/images/outplacement-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="item-50">
                        <div class="content-item sol-page adapta" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="reestructuracion-areas-kpis">
                                    <h2 class="text-nuestras-sol">Adaptación y Renovación<br> ante el cambio</h2>
                                    <p class="text-nuestras-p-sol">Restructuración&nbsp;de&nbsp;áreas&nbsp;y&nbsp;KPI´s
                                    </p>
                                    <img src="/assets/images/adaptacion-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page adapta" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="team-development">
                                    <h2 class="text-nuestras-sol">Un mismo Objetivo…<br> una Misma Dirección</h2>
                                    <p class="text-nuestras-p-sol">Desarrollo del liderazgos en equipos
                                        multigeneracionales <br> Desarrollo al equipo de trabajo. “Team Development”</p>
                                    <img src="/assets/images/objetivo-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page adapta" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="solucion-de-conflictos">
                                    <h2 class="text-nuestras-sol">Solución de Conflictos<br> en Equipos de Trabajo</h2>
                                    <p class="text-nuestras-p-sol">Solución a Problemas con clientes<br> internos o
                                        entre áreas.</p>
                                    <img src="/assets/images/solcon-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page adapta" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="efectividad-en-almacenes">
                                    <h2 class="text-nuestras-sol">Ahorro y Eficiencia en manejo<br> de Inventarios en
                                        Almacenes</h2>
                                    <p class="text-nuestras-p-sol">Mejorar efectividad en procesos y calidad<br> además
                                        de cuidar los recursos.</p>
                                    <img src="/assets/images/ahorro-sol-md.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>
                        <div class="content-item sol-page adapta" style="width: 100%;">
                            <div class="pic" style="position: relative">
                                <a href="formacion-de-coaching">
                                    <h2 class="text-nuestras-sol">Formación de Coaching</h2>
                                    <p class="text-nuestras-p-sol">Coaching Transformacional<br> (EC0234) por SEP -
                                        CONOCER</p>
                                    <img src="/assets/images/formacion-sol-md1.jpg" style="width: 100%;">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="default-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center title">
                    <h2>Ellos han confiado en nosotros</h2>
                </div>
            </div>
        </div>
        <div class="single slider container clientes" style="padding-bottom:0px; position: relative; margin-bottom: 0">



            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/basf.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/ahorro.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/heineken.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/freud.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/carters.png" height="auto" alt="">
            </div>

            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/diaego.png" height="auto" alt="">
            </div>
            <div class="service-icon-box">
                <img src="/assets/images/logos-clientes/ahorro.png" height="auto" alt="">
            </div>


        </div>

    </section>
</div>